/*body {
    background-color: black;
}

 h1 {
     color: red;
}

#p1 {
    color: lightgreen;
}


#p2 {
    color: lightcoral;
}

#p3 {
    color: lightpink;
}

#p4 {
    color: lightseagreen;
} 


h1 {
    color: aliceblue;
}

.odd {
    color: lightgreen;
}

.even {
    color: lightsalmon;
} 

h1 {
    color: red;
}

#p1 {
    color: rgb(237, 69, 105);
}

#p2 {
    color: #ed4569;
}

#p3 {
    color: hsl(99, 82%, 45%);
} 

h1 {
    font-family: sans-serif;
}

#p1 {
    font-family: Verdana;
    font-size: 2em;
    font-weight: bold;
    font-style:italic;
} 

h1 {
    /* border-style: solid; */
    /* border-style: dotted; */
    /* border-style: dashed; */
    /* border-style: double; */
    /* border-style: groove; */
    /* border-style: solid;
    border-width: 6px;
    border-color: lawngreen;
    border-radius: 5px;
    border: 5px solid green;
    border-radius: 6px;
}

#p1 {
     border-bottom: 3px dotted green;
}

#p1 {
    border-left: 3px dashed lawngreen;
} */


#myH1 {
    text-shadow: 2px 2px 4px lightcoral, -2px -2px 4px lightgreen;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
    box-shadow:  2px 2px 4px lightcoral, -2px -2px 4px lightgreen;
}